@media (max-width: 1112px) {
    .amon{
        position: relative;
        width: 110px;
        right: 100px;
    }
    .tAmon{
        position: absolute;
        font-family: 'Poppins', sans-serif;
        top: 160px;
        left: 58px;
        font-size: 23px;
    }
    .iuri{
        position: absolute;
        width: 110px;
        top: -250px;
        left: 100px;
    }
    .tIuri{
        position: absolute;
        font-family: 'Poppins', sans-serif;
        top: 160px;
        left: 320px;
        font-size: 23px;
    }
    .obyT{
        position: relative;
        top: 63px;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        left: 200px;
    }
}